GATEWAY_TOKEN=replace-with-at-least-32-random-characters
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8788
RELAYDECK_DATA_DIR=/var/lib/relaydeck
CHROME_PROFILE_DIR=/var/lib/relaydeck/chrome-profile
CDP_HTTP_URL=http://127.0.0.1:9222
CDP_PORT=9222
DEFAULT_URL=https://ac.nowcoder.com/
AUTO_START_CHROME=1
